<h1><%= @article.title%></h1>
<p><%= @article.content%></p>
<form class="" action="/acticles/<%= @article.id %>/edit" method="get">
  <input type="hidden" name="id" value="<%= @article.id %>">
  <input type="submit" name="" value="Eide">
</form>
